.App {
  text-align: center;
}
.uploadButton {
  background-color: #fd5a3c;
  border: 1px solid #fd5a3c;
  color: #ffffff;
  font-family: muli, poppins, sans-serif;
  padding: 16.8px 21px 14px;
  border-radius: 30px;
  margin: 12px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  width: fit-content;
  transition: background-color 0.15s ease-out, border-color 0.15s ease-out,
    color 0.15s ease-out;
}

.errorText {
  font-family: muli, poppins, sans-serif;
  color: #fd5a3c;
  font-size: 24px;
}

.uploadButton:hover {
  background-color: #fff;
  color: #fd5a3c;
}

input[type="file"] {
  display: none;
}

svg {
  height: 90vh;
}
